.content-block {
  padding: 20px;
}

.tabulator {
  margin-top: 20px;
}

.tabulator:first-of-type {
  margin-top: 0;
}

.delete-btn {
  margin-top: 10px;
}

.content-block div[class^="device"] {
  margin-top: 30px;
}

.content-block div[class^="filter-status"] {
  width: 100%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  background-color: darkcyan;
  position: relative;
}

.content-block div[class^="filter-status"]::after {
  position: absolute;
  top: 35px;
  left: 0;
  content: "Filter status";
}

.filter-progress {
  height: 100%;
  background-color: lightpink;
}
